# Visual Studio
*.pch
*.suo
*.obj
*.ilk
*.lib
*.exe
*.dll
*.dep
*.pdb
*.ncb
*.idb
*.htm
*.res
*.map
*.RES
*.manifest
*.cod
*.user
*/.vs/*
*.tlog
*.log
*.cache
*.Cache
packages/*
*/packages/*

*.testdat
test-files/
*/obj/Debug/*
*/bin/Debug/*
*/obj/Release/*
*/bin/Release/*
